name: CI

on:
  push:
    branches:
      - "dev"
  pull_request:
    branches:
      - "dev"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      # set up Python; change this if you are using a different language
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      # install dependencies; change this if you are using a different language or package manager
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      # run tests; change this if you are using a different test framework
      - name: Run tests
      # set environment variables for the test run; these should be defined in your GitHub repository's secrets & variables in settings
        env:
          ACS_CONNECTION_STRING: ${{ secrets.ACS_CONNECTION_STRING }}
          SENDER_ADDRESS: ${{ secrets.SENDER_ADDRESS }}
        run: pytest -q
