name: CICD
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      # set up Python; change this if you are using a different language
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      # install dependencies; change this if you are using a different language or package manager
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      # run tests; change this if you are using a different test framework
      - name: Run tests
      # set environment variables for the test run; these should be defined in your GitHub repository's secrets & variables in settings
        env:
          ACS_CONNECTION_STRING: ${{ secrets.ACS_CONNECTION_STRING }}
          SENDER_ADDRESS: ${{ secrets.SENDER_ADDRESS }}
        run: pytest -q
  build:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Log in to DockerHub
        uses: docker/login-action@v3
        # set up DockerHub credentials; these should be defined in your GitHub repository's secrets in settings
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # set up Docker image name and tag; these should be defined in your GitHub repository's variables in settings
          # for conventions, name it after the GitHub repo service name
          # ex: carclinchda/email-processing-service:latest
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ vars.DOCKER_IMAGE_NAME}}:${{ vars.VERSION_TAG }}
